



.newsBlockTitle{
    font-size: 12px;
    background-image: repeating-linear-gradient(  #ffffff59 , #8a80df2a );
    border-radius: 3px;
    flex-wrap: wrap;
    box-shadow: -4px 4px 10px 5px rgba(44, 23, 231, 0.151);
    font-style: italic;
}


.newsBlockText{
    flex-wrap: wrap;
    font-size: 1.5vw;
}
.newsBlockImage{
    height:50px;
    width:auto;
}
.btn-news{
    margin-right: 0%;
}

