.newsBlockTitle{
    display: flex;
    font-size: 1.5vw;
    background-image: repeating-linear-gradient(  #ecea72 , #88ff00 );
    margin: 1%;
    border-radius: 3px;
}
.newsBlockImage{
    max-height:100%;
    max-width:90%;

}
