.newsBlockTitle{
    display: flex;
    justify-content:center;
    background-image: repeating-linear-gradient(  #ffffff59 , #8a80df2a );
    border-radius: 3px;
    flex-wrap: wrap;
    box-shadow: -4px 4px 10px 5px rgba(44, 23, 231, 0.151);
    font-style: italic;
}
.newsBlockImage{
    max-height:40%;
    min-height: 30%;
}
.newsBlockText{
    flex-wrap: wrap;
    font-size: 1.5vw;
}
