
.newsBox {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(151, 154, 155);
  border-radius: 5px;
  margin: 10px;
  transition: ease-in-out 0.5s;
  background-image:linear-gradient(to bottom,rgba(146, 163, 185, 0.473), rgb(222, 255, 255) );
}

.newsBox:hover {
  border: 2px solid rgb(180, 39, 51);
  transform: scale(1.1);
  background-image:  linear-gradient(to bottom, rgb(222, 255, 255), rgb(255, 255, 255)); 
  box-shadow: 7px -17px 37px -12px rgba(0,0,0,0.75);


}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  align-items: center;
  /* justify-content: center; */

}

img {
  width: 100%;
  height: auto;
  margin: 5%;
    
}

.dataContainer {
  width: 70%;
  height: auto;
}

.data {
  font-size: medium;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
