.TradeWithUs{
    display: block;
    height: 500px;
    background-color: rgba(130, 178, 233, 0.438);
    border: 1px solid rgba(0, 0, 139, 0.164);
}
.TradingCards{
    display: flex;
    width: auto;
    height: 500px;;
    margin: 2px;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 139, 0.164);
    border-radius: 5px;
    box-shadow: -4px 4px 30px 5px rgba(44, 23, 231, 0.233);
}
.TradeCard{
    display: flex;
    width: 30%;
    height: 75%;
    margin: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    border: 1px solid rgba(0, 0, 139, 0.164);
    border-radius: 5px;
    box-shadow: -4px 4px 30px 5px rgba(44, 23, 231, 0.233);
}
