*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}



nav{
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: absolute;
  width: 100%;
 align-items: center;
  
}

.logo{
  display: flex;
  color:rgb(255,215,0);
  font-size: 40px;
 
}

.logo i{
  font-size: 70px;
}

.logo h4{
  margin-left: 20px;
  letter-spacing: 3px;
  padding-top: 10px;
}

.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 24px;
}

.link a{
  color: rgba(255,255,255, 0.85)
}

.hamburger-toggle{
  cursor: pointer;
  color:white;
  display: none;
}

.hamburger-krestik{
  cursor: pointer;
  color:white;
  display: none;
}

.hamburger-krestik i{
  font-size: 30px;
}
/* link begining */
link{
  letter-spacing: 6px;
  font-weight: bold;

}
.link{
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  
}
.link:hover,
.link:active {
  letter-spacing: 3px;
  transform:scale(1.1);
  background-color: rgba(106, 111, 155, 0.3);
  border-radius: 2px;
  padding:5px;
  font-weight: bolder;
  font-style: black;
}



/* link ends */
.Navbar{
  background: radial-gradient(at center center, #2d7e9270 0%, #1c40617c 100%), url("./sources/img.jpeg");
  background-size: 100%;
  background-position:center ;
 background-repeat: no-repeat;
 width: 100%;
 height: 140px;
}

.navMenu{
  height: 140px;
}


@media screen and (max-width: 850px){

  body{
    overflow-x: hidden;
  }

  .logo{
    font-size: 25px;
  }

  .logo h4{
    padding-top: 15px;
  }

  .link a{
    font-weight: 600;
  }
  
  .hamburger-krestik{
    display: block;
    
  }


  .hamburger-toggle{
    display: block;
  }
  .navlinks{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 88vh;
    align-items: center;
    width: 100%;
    top: 8vh;
    background-color: rgb(255,215,0);;
    font-size: 32px;
    margin-top: 64px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .active{
    transform: translatex(0%);
  }
}


@media screen and (max-width: 280px){
  .logo i{
    display: none;
  }
}




